:root{
  --theme: #171b27;
  --green: #24ae63;
  --header-bg: #202534;
  --botton-bg: #4c9c7031;
  --botton-color: #75f8b0;
  --botton-hover: #33c6753c;
  --landing-page-para: #409566;
  --overlay: #00000071;
  --skill-para: #1d9a558c;
  --skill-heading: #6cb68d;
  --skill-border: #135a33;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--theme);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}
html {
  scroll-behavior: smooth;
}


/* nav bar styles */
header{
  color: #24ae63;
  font-size: 18px;
  background-color: var(--header-bg); 
}
header nav ul li a{
  color: var(--green);
  text-decoration: none;
}
header img{
  padding: 0.1rem;
}
header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}
header nav ul li{
  position: relative;
}
header nav ul li:hover{
  cursor: pointer;
}
header nav ul li::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--green);
  transition: width 0.3s ease-in-out; 
}
header nav ul li:hover::after{
  width: 100%;
}
.lets-talk button, .right-cont button{
  font-size: 15px;
  padding: 12px 20px;
  color:var(--botton-color);
  background-color: var(--botton-bg);
  border: none;
  border: 1px solid var(--green);
  border-radius: 10px;
}
.lets-talk button:hover,.right-cont button:hover{
  background-color: var(--botton-hover);
  cursor: pointer;
}
.lets-talk a{
  text-decoration: none;
  color: var(--botton-color);
}

/* styling the hero section */
main  .hero-img{
  height: 100vh;
  width: 100%;
  background-image: url(images/hero-logo.jpg);
  background-size: cover;
  background-position: 0%;
  position: relative;
}
main{
  color: var(--green);
}
main .h1 span{
  display: inline-block;
}
main .inner-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  gap: 9rem;
}
main .inner-cont .left-cont{
  width: 190rem;
}
main .inner-cont .left-cont h3{
  font-weight: 400;
  font-size: 2rem;
}
main .inner-cont .left-cont .h1 span{
  font-size: 6.5rem;
  font-weight: 400;
}
main .inner-cont .right-cont p{
  font-size: 20px;
  line-height: 1.7rem;
  position: relative;
  color: var(--landing-page-para);

}
main .hero-img .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--overlay);
}
.right-cont button{
  width: 100%;
  margin-top: 2rem;
  background-color: rgba(0, 128, 0, 0.319);
}
.right-cont button:hover{
  background-color: rgba(19, 70, 19, 0.503);
}
.right-cont button a{
  text-decoration: none;
  color: var(--botton-color);
  font-size: 18px;
}

/* styling skills section */
.all-skills,.all-certificates{
  margin: 5rem 0;
}
.skill{
  height: 12rem;
  width: 30rem;
  /* background-color:#052b085e; */
  background-color: var(--theme);
  box-shadow: 0 0 6px var(--skill-border);
  border-radius: 20px;
  padding: 20px;
  /* border:1px solid var(--green); */
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}
.all-skills h1, .all-certificates h1,.contact h1{
  text-align: center;
  color: var(--green);
  font-size: 2.3rem;
  font-weight: 400;
}
.all-skills .underline, .all-certificates .underline, .contact .underline{
  width: 25rem;
  height: 0.4px;
  background: var(--botton-color);
  margin: 0 auto;
  margin-bottom: 3rem;
}
.skill h2{
  color: var(--skill-heading);
  font-weight: 500;
  margin-bottom: 1rem;
}
.skill p{
  color: var(--skill-para);
  line-height: 1.5rem;
  font-size: 18px;
}
.skill1, .skill4,.skill5{
  border-bottom: 2px solid var(--green);
}
.skill2,.skill6{
  border-left: 2px solid var(--green);
}
.skill3{
  border-right: 2px solid var(--green);
}

/* styling the certificate section */

.flex-certi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 20px;
}
.certi{
  border-radius: 20px;
  position: relative;
}
.certi{
  border-radius: 2rem;
  overflow: hidden;
}
.certi:nth-child(even) .screen1{
  height: 14rem;
  width: 100%;
  background-color: #134f2e2f;
  position: absolute;
  top: 0;
  border-bottom: 1pc solid #1f6e43a6;
  backdrop-filter: blur(5px);
  
}
.certi:nth-child(odd) .screen1{
  height: 14rem;
  width: 100%;
  background-color: #134f2e2f;
  position: absolute;
  bottom: 0;
  border-top: 1pc solid #1f6e43a6;
  backdrop-filter: blur(5px);
}

/* styling contact section */

.contact .inner-cont{
  width: 50%;
  height: auto;
  /* background-color: #24ae63; */
  margin: 0 auto;
  margin-bottom: 5rem;
}
.first-last-names,.email-phone{
  display: flex;
  gap: 10px;
}
.first-last-names input,.email-phone input, .message textarea{
  width: 100%;
  height: 4rem;
  margin: 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #27513a65;
  outline: none;
  border: none;
  border: 2px solid rgb(5, 186, 5);
  backdrop-filter: blur(5px);
  color: rgb(212, 250, 213);

} 
.message textarea{
  height: 7rem;
}
.inner-cont .btn{
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: rgba(71, 238, 71, 0.281);
  border: 1px solid rgb(8, 224, 8);
  font-size: 19px;
  color: rgb(238, 235, 235);
  letter-spacing: 0.1rem;
}
form input::placeholder, textarea::placeholder{
  color: rgb(165, 243, 165);
}
.inner-cont .btn:hover{
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.425);

}
.contact-bg{
  width: 100%;
  height: 100vh;
  background-image: url("images/contact_page_bg.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -111;
}
.contact-bg-overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.567);
  top: 0;
}
.contact{
  position: relative;
  z-index: 111;
  
}
.contact-page{
  margin-top: 8rem;
}

/* styling footer  */
footer{
  height: 20rem;

  background-color: rgba(5, 50, 5, 0.384);
  
}
.flex-foot{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  color: rgb(106, 249, 106);
  
}
.inner-foot h1,.inner-foot p{
  text-align: center;
  margin-bottom: 1.3rem;
}
.inner-foot h1{
  font-weight: 400;
}
.inner-foot p{
  color: rgb(54, 173, 54);
}
.inner-foot p a{
  color: rgb(100, 205, 100);
  text-decoration: none;
  margin-right: 10px;
  font-size: 2.5rem;
}
.inner-foot{
  margin-top: 5rem;
  font-size: 1.5rem;
}